@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background: rgba(98, 98, 98, 1);
}
.nav{
    height: 15vh;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav .img{
    width: 50%;
    margin: 40px 10px 10px 50px;
}
.nav img{
    height: 100px;
    width: 100px;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    width: 50%;
    margin-left: auto;
}
li a{
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.container{
    width: 90%;
    height: 100%;
    background: black;
    margin: auto;
    padding: 10px;
}
.container h1{
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    
}
.container p{
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 30px;
    line-height: 30px;
    margin: 30px 100px 0px 100px;
}
.container .line{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   margin: 10px;
}
.container .one{
    width: 80%;
    height: 1px;
    margin: 5px;
    background: white;
}
.container .two{
    width: 60%;
    height: 1px;
    margin: 5px;
    background: #a3a3a3;
}
.container .three{
    width: 40%;
    height: 1px;
    margin: 5px;
    background: #626262;
}
.img2 img{
    float: left;
    margin: 20px 30px 20px 50px;
    width: 300px;
    height: 200px;
}
.foot-nav{
    height: 15vh;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.foot-nav .img{
    width: 50%;
    margin-top: 40px;
    margin-left: 20px;
}
.foot-nav img{
    height: 100px;
    width: 100px;
}
.foot-nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    width: 50%;
    margin-left: auto;
}
li a{
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}